<span th:fragment="choose-look-date">

    <form th:action="@{/{path} (path=${viewRedirect})}"
          onsubmit="disableButton(this.lookDateSubmitButton)"
          method="post" th:object="${datePickerForm}">
        <div>
            <label for="look-date">Choose the year and month (yyyy-MM):</label>
            <input type="month" th:field="${datePickerForm.lookDate}" id="look-date"/>
        </div>
        <div>
            <button id="lookDateSubmitButtonID" name="lookDateSubmitButton" type="submit" class="button">Submit</button>
        </div>
    </form>

</span>