html,
body,
div,
span,
h1,
h2,
h3,
p,
blockquote,
em,
img,
q,
strong,
sub,
sup,
b,
i,
ol,
ul,
li,
table,
tbody,
tfoot,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    color: #eeeeee;
    background-color: #111111;
    font-family: Tahoma, Verdana, sans-serif;
    padding: 10px;
}

a:link {
    color: #3cffff;
    background-color: transparent;
    text-decoration: none;
    opacity: 1 !important;
}

a:visited {
    color: #3498db;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: none;
}

.tableDiv {
    margin-top: 20px;
}

.tBody {
    font-size: 12px;
    color: #eeeeee;
    text-align: right;
}

.tHead {
    font-size: 12px;
    color: #aaaaaa;
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 2px solid #eeeeee;
}

th {
    border: 1px solid #dddddd;
    padding: 5px;
}

td {
    border: 1px solid #cccccc;
    padding: 3px;
    min-width: 20px;
}

@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 600px) {

}

