<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en-EN">
<head>
    <meta charset="UTF-8">
    <title>Submitted date</title>
</head>
<body>
<p>The chosen date is: <span th:text="${#dates.format(datePicker.lookDate, datePicker.dateFormat)}"></span></p>
<p>The monthRecord id is: <span th:text="${monthRecord.getCreated()}"></span></p>
<p>The hoursRanges size is: <span th:text="${monthRecord.getDateCellHoursRangeDtos().size()}"></span></p>
<p>The workingHours size is: <span th:text="${monthRecord.getDateCellWorkingHoursDtos().size()}"></span></p>
<p>The overTimeHours size is: <span th:text="${monthRecord.getDateCellOverTimeHoursDtos().size()}"></span></p>
</body>
</html>