<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en-En">
<head>
    <title>Submitted date</title>

    <th:block th:include="fragments/head-inner-fragment :: generic-head"></th:block>

</head>
<body>
<p>The chosen year-month is: <b><span th:text="${#dates.format(datePickerForm.lookDate, datePickerForm.dateFormat)}"></span></b></p>
<div th:each="monthRecord, iterStat : ${monthRecords}">

    <div class="tableDiv">
        <div th:if="${monthRecord.getDateCellsList()?.size()>0}"
             th:replace="~{fragments/date-cell-hours-range :: date-cell-hours-range-table}"></div>
    </div>

</div>
</body>
</html>