<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en-En">
<head>
    <title>Submitted date</title>

    <th:block th:include="fragments/head-inner-fragment :: generic-head"></th:block>

</head>
<body th:with="editAll=${T(edu.springboot.organizer.web.controllers.forms.MonthRecordsFormController).EDIT_ALL},
editOne=${T(edu.springboot.organizer.web.controllers.forms.MonthRecordsFormController).EDIT_ONE}">

<h1><a th:text="#{pick.date.back}" href="/pick-date"></a></h1>

<p><span th:text="#{chosen.date.is}"></span>:
    <b><span th:text="${lookDate}"></span></b>
    (<span th:text="${monthName}"></span>)
</p>

<a th:with="actionPath=${viewRedirect} + '/add/' + ${lookDate}"
   th:href="@{/{targetPath} (targetPath=${actionPath})}">
    <button id="addBtnID" onclick="disableButton(this)"
            type="button" class="addBtn"
            th:text="#{add.employee.form}">
    </button>
</a>

<a th:with="actionPath=${formRedirect} + '/' + ${editAll} + '/' + ${lookDate}"
   th:href="@{/{targetPath} (targetPath=${actionPath})}">
    <button id="edtBtnAllID" onclick="disableButton(this)"
            type="button" class="edtBtn"
            th:text="#{edit.all.employees.form}">
    </button>
</a>

<div class="allTablesDiv">
<span th:each="monthRecord, iterStat : ${recordsSet?.monthRecords}">

    <span class="tableDiv">

        <span th:if="${monthRecord?.dateCellsSize>0}">
            <span th:replace="~{fragments/date-cells-rows :: date-cells-table}"></span>
        </span>
        <span th:unless="${monthRecord.dateCellsSize>0}">
            <span th:text="#{no.date.cells}"></span>
        </span>

    </span>

</span>
</div>

</body>
</html>