<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<th:block th:include="fragments/head-public-fragment :: public-head"></th:block>

<body>

<div th:replace="fragments/nav-login-fragment :: public-nav-login"></div>

<br/><br/>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div th:if="${param.error}">
                <div class="alert alert-danger">Invalid Email or Password</div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-success"> You have been logged out.</div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2 class="text-center" th:text="#{login.header}"></h2>
                </div>
                <div class="card-body">
                    <form
                            method="post"
                            role="form"
                            th:action="@{/login}"
                            class="form-horizontal"
                    >
                        <div class="form-group mb-3">
                            <label for="username" class="control-label" th:text="#{user.login}"></label>
                            <input
                                    type="text"
                                    id="username"
                                    name="username"
                                    class="form-control"
                                    placeholder="Enter login"
                            />
                        </div>

                        <div class="form-group mb-3">
                            <label for="password" class="control-label" th:text="#{user.pass}"></label>
                            <input
                                    type="password"
                                    id="password"
                                    name="password"
                                    class="form-control"
                                    placeholder="Enter password"
                            />
                        </div>
                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary" th:text="#{user.login.submit}"></button>
                            <span th:text="#{not.user.reg}"></span>
                                <a th:href="@{/register}" th:text="#{user.reg.here}"></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/main-footer :: footer}"></div>

</body>
</html>

