<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en-En">
<head>
    <title>Month days form</title>

    <th:block th:include="fragments/head-inner-fragment :: generic-head"></th:block>

</head>
<body>
<p>The chosen year-month is:
    <b><span th:text="${year}+'-'+${month}"></span></b>
    (<span th:text="${monthName}"></span>)
</p>

<div th:each="monthRecord, iterStat : ${monthRecords}">

    <div class="tableDiv">
        <p>Employee time sheet for: <b><span th:text="${monthRecord.getEmployee()}"></span></b></p>
        <div th:if="${monthRecord.getDateCellsList()?.size()>0}"
             th:replace="~{fragments/date-cells-rows :: date-cells-table}"></div>
    </div>

</div>

</body>
</html>