<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Main Page</title>

    <th:block th:include="fragments/head-inner-fragment :: generic-head"></th:block>

    <script type="text/javascript" th:src="@{/js/functions.js}"></script>

</head>

<body>

<div class="containeer">

    <div th:replace="~{fragments/welcome-header :: header}"></div>

    <div class="mainframe">

        <h2><a th:text="#{pick.date}" href="/pick-date"></a></h2>

    </div>

    <div th:replace="~{fragments/main-footer :: footer}"></div>

</div>
</body>
</html>